.about{
  background-image: url('../images/bitglobe.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #cccccc;
  font: Arial sans-serif;
  font-size: 20px;
}

.all-about h1{
  display: flex;
  color: ghostwhite;
  justify-content: flex-start;
  margin-left: 90px;
}

.content a{
  color: orange;
}

#creators, .intro{
  margin-bottom: 50px;
  text-shadow: 2px 2px 4px black;
}

.about-main{
  display: flex;
  justify-content: center;
  flex-flow: column;
  margin-bottom: 25px;
  margin-top: 25px;
  padding: 25px;
}

.image-header{
  display: flex;
  justify-content: center;
}

.bio-container{
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;

}

.bio-photo{
  /* box-shadow: 10px 10px 5px; */
  box-shadow: 1px 1px 3px 3px #FFFFFF;
  border-radius: 25px;
}

.content{
  color: ghostwhite;
  text-shadow: 2px 2px 4px #000000;
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 25px;
  margin-bottom: 50px;
  background-color: #2185d0;
  padding: 10px;
  border-radius: 25px;
  box-shadow: 1px 1px 3px 3px #FFFFFF;
  text-align: justify;
}
