.main-content {
  height: 100vh;
  width: 100vw;
  background-image: url('../images/bitglobe.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
  display: flex;
}

.hero {
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero h1 {
  margin-top: 0.5em;
  font-family: 'Oxygen', sans-serif;
  font-size: 7em;
  text-align: left;
  color: #E2EEF7;
  text-shadow: .015em .015em #5AAEED;
  margin-left: 5vw;
  margin-right: 5vw;
}

.hero h2 {
  font-family: 'Oxygen', sans-serif;
  font-size: 3em;
  text-align: center;
  color: #E2EEF7;
  text-shadow: .025em .025em #5AAEED;
  margin-left: 5vw;
  margin-bottom: 1em;
}

#home-buttons {
  font-family: 'Oxygen', sans-serif;
  background-color:  #5AAEED;
  color: #E2EEF7;
  box-shadow: .05em .05em #E2EEF7;
  margin: 2em;
}
