.main-content {
  height: 105vh;
  background-image: url('../images/block-world.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: -5.5em;
  z-index: -1;
  box-sizing: content-box;
  display: flex;
}

.hero {
  margin-top:5em;
  width: 100vw;
  text-align: center;  
  background-color: rgba(7, 23, 247, 0.411);
}

.hero h1 {
  margin-top: 0.25em;
  font-family: 'Iceberg', cursive;
  color: rgb(247, 145, 28);
  font-size: 6em;
}

.hero h2 {
  font-size: 3em;
  color: rgb(250, 229, 4);
  font-weight: 400;
  font-family: 'Chau Philomene One', sans-serif;
}

.where-to-spend .flex {
  display: flex;
}

.where-to-spend h2 {
  font-family: 'Crimson Text', serif;
  color: white;
  font-size: 2em;

}

.spend-search {
  display: flex;
  justify-content: space-between;
  
}

.local-search {
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-grow: 1; */
  background-color: whitesmoke;
}

.online-search {
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-grow: 1; */
  background-color: whitesmoke;
}
