.search-bar {
  width: 60vw;
  margin: auto;
}

.main-online-search {
  height: 100%;
  min-height: 90vh;
  background-image: url('../images/bitglobe.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#main-titles h1{
  font-family: 'Oxygen', sans-serif;
  font-size: 7vw;
  text-align: left;
  color: #E2EEF7;
  text-shadow: .015em .015em #5AAEED;
  margin-left: 4vw;
  margin-right: 5vw;
}

#main-titles h2{
  font-family: 'Oxygen', sans-serif;
  font-size: 3vw;
  text-align: center;
  color: #E2EEF7;
  text-shadow: .025em .025em #5AAEED;
  margin-left: 5vw;
  margin-bottom: 1em;
}
